{{> admin/admin-header }}

<body class="fixed-nav sticky-footer bg-dark" id="page-top">

    {{> admin/admin-topNav csrfToken=csrfToken name=name}}

<!-- {{> admin/messages }} -->

<div class="container">
    <div class="alert text-center section-header">
        <h1>ALL BOOKS</h1>    
    </div>
        
    <table style="color: aqua; border: 2px solid #e9ecef;" class="table table-bordered">
        <thead class="bg-dark text-center">
        <tr class="text-white">          
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Comments Allowed</th>
            <th>Cover</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody class="text-center">
        {{#each books}} 
            <tr>               
                <td style="text-transform: capitalize ;">{{this.title}}</td>
                <td class="descriptionCell">{{this.description}}</td>
                <td>{{this.status}}</td>
                <td style="width: 50px;">{{this.isCommentAllowed}}</td>
                <td class="cover-miniature"><img src={{this.image}} alt="book cover min"></td>
                <td>{{this.category.title}}</td> 
                <td class="actionCell" >
                    <a href="/admin/books-edit/{{this.id}}" class="btn btn-sm btn-warning mr-2">Edit</a>   
                    <form action="/admin/books-delete/{{this.id}}?newMethod=DELETE" method="post">
                        <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                    </form>
                </td>
            </tr>    
        {{/each}}
        
        </tbody>
    </table>
    
    {{> admin/admin-footer}}  
</div>

</body>