{{> admin/admin-header }}

<body class="fixed-nav sticky-footer bg-dark" id="page-top">

    {{> admin/admin-topNav}}

{{> admin/messages }}

<div class="container">
    <div class="alert alert-secondary text-center">
        <h1 style="margin-bottom: 0; padding-top: 11px; margin-left: 220px;">ALL BOOKS</h1>    
    </div>
        
    <table style="color: white;" class="table table-bordered">
        <thead class="bg-dark text-center">
        <tr class="text-white">          
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Comments Allowed</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody class="text-center">
        {{#each books}} 
            <tr>               
                <td>{{this.title}}</td>
                <td>{{this.description}}</td>
                <td>{{this.status}}</td>
                <td>{{this.isCommentAllowed}}</td>
                <td>{{this.category.title}}</td> 
                <td class="d-flex">
                <a href="/admin/books-edit/{{this.id}}" class="btn btn-sm btn-warning mr-2">Edit</a>   
                <form action="/admin/books-delete/{{this.id}}?newMethod=DELETE" method="post">
                    <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                </form>
                </td>
            </tr>    
        {{/each}}
        
        </tbody>
    </table>
    
    
</div>

</body>