{{> user/header }}

        <!-- Navigation -->
        {{> user/top-nav }}
        <!-- -->
        <header class="header-mainPage">
            <div class="header-welcome">
                <div class="text-center my-3">
                    <h1 class="fw-bolder">Welcome to your <br> Online Library!</h1>
                    <p class="lead mb-0">It's your space to share the love <br> for books with the others</p>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4 category-card">
                <div class="card-header">Categories</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                {{#each categories}}
                                    <li><a href="#!">{{this.title}}</a></li>   
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Page content-->
        <div class="container books-list">

        {{#each books}}

            <div class="card book-preview mb-4">
                <div class="card_imgContainer">
                    <img class="card-img-top" src={{this.image}} alt="book cover">
                </div>
                <div class="card-body">
                    <h2 class="card-title">{{this.title}}</h2>
                    <p class="card-text">{{this.description}}</p>
                    <a href="/book/{{this.id}}" class="btn btn-primary">Read More &rarr;</a>    
                </div>                
                <div class="card-footer text-muted">
                    Posted on {{this.creationDate}} by
                    <a href="#">{{user.name}}</a>
                </div>
            </div>

        {{/each}}

            <div class="row" style="display: none;">
            <!-- Side widgets-->
            <div class="col-lg-4">
                <!-- Search widget-->
                <div class="card mb-4" >
                    <div class="card-header">Search</div>
                    <div class="card-body">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                            <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
        <!-- Footer-->
        {{> user/footer}}
